.App {
  text-align: center;
}

.title {
  padding: 16px;
  color: green;
}

.head {
  background-color: black;
  color: white;
  font-weight:bold;
  align-items: center;
}

table {  
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  border-left: none;
  border-right: none;
}

tr:nth-child(even) {
  background-color: #dddddd;
}